<table #table mat-table [dataSource]="alumnos" class="mat-elevation-z8">

    <ng-container matColumnDef="estudiante">
      <th mat-header-cell *matHeaderCellDef appTitulos> Estudiante </th>
      <td mat-cell *matCellDef="let element" (click)="onClickRow(element)">
      {{ nombreApellido | union: element.nombreAlumno : element.apellidoAlumno }} </td> 
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef appTitulos> DNI </th>
      <td mat-cell *matCellDef="let element" (click)="onClickRow(element)">
      {{element.dniAlumno}} </td>
    </ng-container>
    
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef appTitulos> Curso </th>
      <td mat-cell *matCellDef="let element" (click)="onClickRow(element)">
      {{element.cursoAlumno}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> 
        </th>
        <td mat-cell *matCellDef="let element" >
            <div (click)="onDeleteElement(element)">
                <span class="material-icons">
                    delete
                </span>
            </div>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>